<a href="/">
    <button class="btn btn-primary btn-lg">Select Players</button>
 </a>
 <a href="/viewcomparisons">
    <button class="btn btn-primary btn-lg">View Player Comparisons</button>
 </a>
 <a href="/viewFavorites">
    <button class="btn btn-primary btn-lg">Select Favorites</button>
 </a>
 <a href="/viewFavoritesToDelete">
    <button class="btn btn-primary btn-lg">Delete Favorites</button>
 </a>

 <a href="/viewTeamComparisons">
    <button class="btn btn-primary btn-lg">View Team Comparisons</button>
 </a>


<div>
    <span>Team 1</span>
    <select>
        <option value="">Select team 1</option>
        {{#each teams}}
        <option>{{this.name}}</option>
        {{/each}}
    </select>
</div>
<div>
    <span>Team 2</span>
    <select>
        <option value="">Select team 2</option>
        {{#each teams}}
        <option>{{this.name}}</option>
        {{/each}}
    </select>
</div>
<div>
    <button>Submit</button>
</div>