<a href="/">
    <button class="btn btn-primary btn-lg">Select Players</button>
 </a>
 <a href="/viewcomparisons">
    <button class="btn btn-primary btn-lg">View Player Comparisons</button>
 </a>
 <a href="/viewFavorites">
    <button class="btn btn-primary btn-lg">Select Favorites</button>
 </a>
 <a href="/viewFavoritesToDelete">
    <button class="btn btn-primary btn-lg">Delete Favorites</button>
 </a>

 <a href="/viewTeamComparisons">
    <button class="btn btn-primary btn-lg">View Team Comparisons</button>
 </a>


{{#each favorites}}
  <div class="viewFavorites">
    <h1>Favorite Player {{@index}}</h1>
    <h2>{{this.p1first_name}} {{this.p1last_name}}</h2>
  </div>
{{/each}}